
h1 {
    user-select: none;
    z-index: 1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}


#clip{
    background:linear-gradient(to right ,#c53f65,#c51547 );
    clip-path: circle(0% at 0% 0%);
}